@{
    ViewBag.Title = "Contato";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Contato</h2>

@using (Html.BeginForm("Enviar", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="row">
        <div>
            @Rotulos.Nome
            @Html.TextBox("Nome")
        </div>
        <div>
            @Rotulos.Email
            @Html.TextBox("Email")
        </div>
        <div>
            @Rotulos.Assunto
            @Html.TextBox("Assunto")
        </div>
        <div>
            @Rotulos.Mensagem
            @Html.TextArea("Mensagem")
        </div>
    </div>
    
    <input type="submit" class="btn btn-primary" value="@Rotulos.Enviar"/>
}
