@using Graxei.Apresentacao.MVC4Unity.Areas.Administrativo.HtmlHelpers
@model Graxei.Apresentacao.MVC4Unity.Models.ContatoModel    
<div class="form-group has-error">
    <div class="col-lg-offset-1 col-lg-11">
        @Html.Erro()
    </div>
</div>
<div class="form-group has-success">
    <div class="col-lg-offset-1 col-lg-11">
        @Html.Sucesso()
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        @using (Ajax.BeginForm("EnviarContatoAnuncio", "Home", new AjaxOptions() { UpdateTargetId = "modalContatoAnuncio-body", OnBegin = "openL('Enviando...');", OnComplete = "closeL();", HttpMethod = "POST" }, new { enctype = "multipart/form-data" }))
        {
            <div class="row">
                <div class="col-md-12 form-group">
                    <label>@Rotulos.Nome</label>
                    @Html.TextBoxFor(m => m.Nome, new { @class = "form-control " })
                    @Html.ValidationMessageFor(m => m.Nome)
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 form-group">
                    <label>@Rotulos.Email</label>
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 form-group">
                    <label>@Rotulos.Mensagem</label>
                    @Html.TextAreaFor(m => m.Mensagem, 6, 0, new { @class = "form-control" })
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 form-group">
                    <button class="btn btn-primary">@Rotulos.Enviar</button>
                </div>
            </div>
   
        }
    </div>
</div>
