@{
    ViewBag.Title = "Graxei";
}
@model String
<div class="navbar-wrapper">
    <div class="container">
        <div class="navbar navbar-inverse navbar-fixed-top " role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Ajax.ActionLink(" raxei", "_Index", "Home", new { controller = "Home" }, new AjaxOptions() { UpdateTargetId = "myContent" }, new { @class = "navbar-brand logo" })
                </div>
                <div class="navbar-collapse collapse">
                    @using (Ajax.BeginForm("Pesquisar", "Home", new { Controller = "Home" }, new AjaxOptions() { UpdateTargetId = "myContent", HttpMethod = "GET", OnBegin = "openL();", OnComplete = "closeL(); teste();" }, new { @class = "navbar-form navbar-left", role = "search", id = "fq" }))
                    {	  
                        <div class="input-group nav-search">
                            @Html.TextBox("q", Model, null, new { @class = "form-control ", placeholder = @Graxei.Transversais.Idiomas.Rotulos.Pesquisar, id = "q", mozactionhint = "search" })
                            <span class="input-group-btn">
                                <button class="btn btn-default"><i class="glyphicon glyphicon-search"></i></button>
                            </span>
                        </div>
                    }
                    <ul class="nav navbar-nav navbar-right">
                        <li>@Ajax.ActionLink("Sobre", "_Sobre", "Home", new { controller = "Home" }, new AjaxOptions() { UpdateTargetId = "myModal" }, new { })</li>
                        <li>@Ajax.ActionLink("Contato", "Contato", "Home", new { controller = "Home" }, new AjaxOptions() { UpdateTargetId = "myContent" }, new { })</li>
                        @if (User.Identity.IsAuthenticated)
                        {
                            <li>
                                <form class="navbar-form navbar-left" role="search">
                                    <div class="btn-group btn-max">
                                        <button type="button" class="btn btn-warning dropdown-toggle btn-max" data-toggle="dropdown">
                                            @User.Identity.Name
                                            <span class="caret"></span>
                                            <span class="sr-only"></span>
                                        </button>
                                        <ul class="dropdown-menu" role="menu">
                                            <li class="menu-a-login">@Html.ActionLink("Administrador", "Index", "Home", new { controller = "Home", area = "Administrativo" }, new AjaxOptions())
                                            </li>
                                            <li class="divider"></li>
                                            <li class="menu-a-login">@Html.ActionLink("log off", "Sair", "Login", new { controller = "Login" }, new AjaxOptions())</li>
                                        </ul>
                                    </div>
                                </form>
                            </li>
                        }
                        else
                        {
                            <li>
                                <form class="navbar-form navbar-left" role="search">
                                    @Ajax.ActionLink("login", "Autenticacao", "Login", new { controller = "Login" }, new AjaxOptions() { UpdateTargetId = "myModal" }, new { @class = "btn btn-success btn-max" })
                                </form>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
@if (User.Identity.IsAuthenticated)
{
    <div id="openMenu" class="menu-button-open" estaaberto="false">
        <i class="glyphicon glyphicon-th-large"></i>
    </div>
    <div id="menuAdmin" class="menu-body">
        <ul>
        </ul>
    </div>
}
<div class="container marketing container-body" id="myContent">
    @{Html.RenderPartial("_Index");}
    <footer>
        <p class="pull-right"><a href="#">Ir para o topo</a></p>
        <p>&copy; 2014 Graxei. &middot; <a href="#">Privacidade</a> &middot; <a href="#">Termos</a></p>
    </footer>
    <div id="myModal">
    </div>
</div>
<div id="msg-display"></div>
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@Scripts.Render("~/bundles/jqueryval")
@Scripts.Render("~/bundles/sc")
@Scripts.Render("~/bundles/modal")
<script>
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date(); a = s.createElement(o),
        m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-56830058-1', 'auto');
    ga('send', 'pageview');

    $(document).ready(function () {
        $.getJSON("http://www.telize.com/geoip?callback=?",
            function (json) {
                $.ajax({
                    type: "POST",
                    url: "Home/SetRegionIP",
                    data: { pais: json.country, cidade: json.city, regiao: json.region_code }
                });
            }
        );

        $("#openMenu").on("click", function () {
            $("#menuAdmin").toggle();

            if ($("#openMenu").attr("estaAberto") === "true") {
                $("#openMenu").css("left", "0em");
            } else {
                $("#openMenu").css("left", "15em");
            }

            $("#openMenu").attr("estaAberto", $("#openMenu").attr("estaAberto") === "false")
        });
    });
</script>

@if (ViewBag.q != null)
{
    <script>
        $(document).ready(function () {
            var q = "@ViewBag.q";
            $("#fq").submit();
        });
    </script>
}

