@using Graxei.Apresentacao.MVC4Unity.Areas.Administrativo.Infraestutura
@model IList<Graxei.Transversais.ContratosDeDados.PesquisaContrato>

<script>

    function filtroSelecionado(tipofiltro, e) {
        $.ajax({
            type: "POST",
            url: "Home/SetFiltro",
            data: { filtro: tipofiltro, valor: $(e).val() }
        });
    }
</script>
<a data-ajax="true" data-ajax-mode="replace" data-ajax-update="#myModal" href="/Home/ContatoAnuncioModal">
    <div class="mark mark-l">
        <div class="m1">Anuncie </div>
        <div class="m2">Aqui</div>
    </div>
</a>

<div class="container container-perquisar">
    @if (!Model.Any())
    {
        <div class="alert alert-danger" role="alert">
            <div class="row">
                <div class="col-md-12">
                    <strong>Não existem resultados para essa pesquisa :c </strong>
                </div>
            </div>
        </div>
    }
    else
    {
        <div>
            <div id="clock2">@ViewBag.TempoBusca seg</div>
        </div>
    }
    @{int idxRow = 0;}
    @foreach (Graxei.Transversais.ContratosDeDados.PesquisaContrato pv in Model)
    {
        <div class="row row@(idxRow % 2)">
            <div class="col-md-12">
                <div class="thumbnail thumbnail-search">
                    <div class="row">
                        <div class="col-md-2">
                            @Ajax.ImageActionLink(new ImageTag() { Src = "data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNzEiIGhlaWdodD0iMTgwIj48cmVjdCB3aWR0aD0iMTcxIiBoZWlnaHQ9IjE4MCIgZmlsbD0iI2VlZSIvPjx0ZXh0IHRleHQtYW5jaG9yPSJtaWRkbGUiIHg9Ijg1LjUiIHk9IjkwIiBzdHlsZT0iZmlsbDojYWFhO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1zaXplOjEycHg7Zm9udC1mYW1pbHk6QXJpYWwsSGVsdmV0aWNhLHNhbnMtc2VyaWY7ZG9taW5hbnQtYmFzZWxpbmU6Y2VudHJhbCI+MTcxeDE4MDwvdGV4dD48L3N2Zz4=", Width = 60, Height = 71 },
                         "", "VerLoja", "Loja", new { Controller = "Loja", IdEndereco = pv.EnderecoId }, new AjaxOptions() { UpdateTargetId = "myModal" }, new { @class = "thumbnail thumbnail-search" })
                        </div>
                        <div class="col-md-8">
                            <div class="row">
                                <div class="col-md-8">
                                    <h4>@pv.Codigo</h4>
                                </div>
                                <div class="col-md-4">
                                    @*@foreach (Graxei.Modelo.Telefone tel in @pv.Numeros)
                                        {
                                    *@<div class="row">
                                        <div class="col-md-12">
                                            @pv.Numero
                                        </div>
                                    </div>
                                    @*}*@
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    @pv.Descricao
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="bs-callout bs-callout-info">
                                <h4>R$@pv.Preco</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        idxRow++;
    }
    <div class="row pag-btn-group">
        <div class="span12">
            @{
                long idx = ((ViewBag.PesquisarModel.PaginaSelecionada <= 2) ? 0 : ViewBag.PesquisarModel.PaginaSelecionada - 2);

                long mIdx = ViewBag.PesquisarModel.NumeroMaximoPagina != null ? ViewBag.PesquisarModel.NumeroMaximoPagina : (idx + 2);
                if ((mIdx - idx) < 3 && ViewBag.PesquisarModel.NumeroMaximoPagina == null)
                {
                    mIdx = mIdx + (mIdx - idx);
                }
                @Ajax.LinkPaginacaoRangePagina("PesquisarPagina", "Home", "paginaSelecionada", (int)ViewBag.PesquisarModel.PaginaSelecionada, mIdx, 2)
            }
        </div>
    </div>
</div>
<a data-ajax="true" data-ajax-mode="replace" data-ajax-update="#myModal" href="/Home/ContatoAnuncioModal">
    <div class="mark mark-r">
        <div class="m1">Anuncie </div>
        <div class="m2">Aqui</div>
    </div>
</a>
@if (ViewBag.newq != null)
{
    <script>
        function teste() {
            var newurl = window.location.protocol + "//" + window.location.host /*+ window.location.pathname */ + '?q=@ViewBag.newq';
            window.history.pushState({ path: newurl }, '', newurl);

            var q = "@ViewBag.newq";
            var idxLoja = q.toLowerCase().indexOf("loja:");
            if (idxLoja >= 0) {
                var idxLojaFim = q.toLowerCase().indexOf(" ", idxLoja)
                var loja = q.substring(idxLoja + 5);

                if (idxLojaFim > 0) {
                    loja = q.substring(idxLoja + 5, idxLojaFim);
                }
                sessionStorage.setItem("lojaNome_graxei", loja);
                $("#q").val(q.toLowerCase().replace("loja:" + loja, "").trim());
                var lojaApresentacao = loja;
                if (lojaApresentacao.length > 4) {
                    lojaApresentacao = lojaApresentacao.substr(0, 4) + "...";
                }
                $("#lbl-loja-nome").text(lojaApresentacao);
                $("#lojaNome").val(loja);
                $(".label-search").css("visibility", "visible");
            }

            if (sessionStorage.getItem("lojaNome_graxei") != "") {
                $(".label-search").css("visibility", "visible");
            }
        }
        function InsertUrlLojaProdutos() {
            $("#q").val("@ViewBag.newq");

            teste();
            $("#lbl-loja-nome").val(sessionStorage.getItem("lojaNome_graxei"));
        }
    </script>
}
else
{
    <script>
        function teste() {
        }
        function InsertUrlLojaProdutos() { }
    </script>
}