@model PesquisaProdutoContrato
@Scripts.Render("~/bundles/jqueryvalajax")
<h4>
    Produtos
</h4>
<div class="row">
    @*<div class="col-md-2 col-lg-2">
            @Ajax.ActionLink("Todas as Filiais", "", "Produtos", new { Controller = "Produtos" }, new AjaxOptions { HttpMethod = "GET", UpdateTargetId = "myModal" }, new { @class = "btn btn-default btn-filial" })
        </div>*@
    <div class="col-md-10 col-lg-10">
        @{using (Ajax.BeginForm("Pesquisar", "Produtos", null, new AjaxOptions() { UpdateTargetId = "myContentProd", HttpMethod = "POST", OnBegin = "openL();", OnComplete = "closeL();" }, new { @class = "navbar-form" }))
            {
                <div class="input-group">
                    <span class="input-group-addon">
                        @Html.CheckBoxFor(m => m.MeusProdutos, new { id = "meus-produtos-chave" })
                        @Rotulos.MeusProdutos
                    </span>
                    @Html.HiddenFor(m => m.IdLoja, new { id = "loja-chave" })
                    @Html.TextBoxFor(m => m.DescricaoProduto, new { id = "descricao-produto", @class = "form-control ", placeholder = @Graxei.Transversais.Idiomas.Rotulos.Pesquisar, mozactionhint = "search" })
                    <span class="input-group-btn">
                        <button id="botao-pesquisar" class="btn btn-default"><i class="glyphicon glyphicon-search"></i></button>
                    </span>
                </div>
                @Html.ValidationMessageFor(m => m.DescricaoProduto)
            }
        }
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div id="myContentProd"></div>
    </div>
</div>

<script>
    $("#botao-pesquisar").on("click", function () {
        $("#salvar-precos").addClass("invisible");
    });
</script>