@model Graxei.Apresentacao.Models.AutenticacaoModel
<script src="~/Scripts/bootstrap-validation.js"></script>

<div class="modal fade" id="Modal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div id="dialogo" class="modal-dialog">

        @{ AjaxOptions ajaxOptions = new AjaxOptions
           {
               InsertionMode = InsertionMode.Replace,
               HttpMethod = "POST",
               OnSuccess = "loadPage",
               UpdateTargetId = "myError"
           };
        }
        @using (Ajax.BeginForm("Autenticacao", "Login", ajaxOptions))
        {

            @Html.ValidationSummary(true);
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h3 id="myModalLabel">@Rotulos.Login</h3>
                </div>
                <div class="modal-body">
                    <div id="myError">@ViewBag.Mensagem</div>
                    @if (ViewBag.Mensagem != null)
                    {
                        <div id="divErro" class="alert alert-danger">
                            <label id="erro">
                                <div>@ViewBag.Mensagem</div>
                            </label>
                        </div>
                    }
                    <div class="row">
                        <div class="col-md-6 border-right">
                            <div class="row">
                                <div class="col-md-12">
                                    <label>
                                        @Html.LabelFor(model => model.LoginOuEmail)
                                    </label>
                                    <div class="row form-group">
                                        @Html.TextBoxFor(model => model.LoginOuEmail, new { id = "campoLogin", @class = "form-control" })
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <label>
                                        @Html.LabelFor(model => model.Senha)
                                    </label>
                                    <div class="row form-group">
                                        @Html.PasswordFor(model => model.Senha, new { @class = "form-control" })
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    @Ajax.ActionLink(Textos.EsqueceuSuaSenha, "RedefinirSenha", "Login", new { controller = "Login" }, new AjaxOptions() { UpdateTargetId = "myModalRemote", OnComplete = " $('#Modal2').modal('toggle')" })
                                    <input type="submit" class="btn btn-primary" value="@Rotulos.Entrar" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <a href="/Login/ContaGoogle" class="btn btn-block btn-social btn-google-plus">
                                <i class="fa fa-google-plus"></i>
                                @Textos.GoogleAccount
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
<div id="myModalRemote"></div>
<script src="~/Scripts/Graxei/login.js"></script>