@model Graxei.Modelo.Loja
<div class="bg-default-loja">
    <div class="bg-inner-loja">
        <div class="header-loja">
            <div class="item-bg" >
                <img src="@Url.Action("GetImagem", "Loja", new { idLoja = Model.Id })" />
            </div>
            <div class="bg-caption">
                <img src="@Url.Action("GetLogo", "Loja", new { idLoja = Model.Id })" />
            </div>
        </div>
        <div class="item-sumario">
            <div class="container">
                <div class="col-md-2 item">
                    <div class="info">
                        <h4><span id="qtdPr"></span></h4>
                    </div>
                    <div class="description">
                        <h6>Produtos</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="bg-body-loja">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="bg-caption">
                    <h4>@Model.Nome</h4>
                </div>
                <div class="bg-panel-loja header-loja">
                    <div class="bs-docs-sidebar hidden-print hidden-xs hidden-sm" role="complementary">
                        <ul class="nav bs-docs-sidenav">
                            <li>
                                @Ajax.ActionLink("Produtos", "Produtos", "Loja", new { controller = "Loja" }, new AjaxOptions() { UpdateTargetId = "bg-text-loja" })
                            </li>
                            <li>
                                <a href="#">Endereços</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-9">
                <div class="bg-text-loja" id="bg-text-loja">
                    @Html.Raw(Model.DescricaoPaginaInicial)
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $.ajax({
            async: true,
            url: "@Url.Action("GetQuantidadeProdutos", "Loja")",
            data: { lojaId: @Model.Id },
            type: "POST",
            dataType: "json",
            success: function (data) {
                $("#qtdPr").html(data);
            }
        });
    });


</script>
