@model Graxei.Apresentacao.MVC4Unity.Models.AutenticacaoModel
<script src="~/Scripts/bootstrap-validation.js"></script>

<div class="modal fade" id="Modal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div id="dialogo" class="modal-dialog">

        @{ AjaxOptions ajaxOptions = new AjaxOptions
           {
               InsertionMode = InsertionMode.Replace,
               HttpMethod = "POST",
               OnSuccess = "loadPage",
               UpdateTargetId = "myError"
           }; 
        }
        @using (Ajax.BeginForm("Autenticacao", "Login", ajaxOptions))
        {
            
            @Html.ValidationSummary(true);
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h3 id="myModalLabel">@Rotulos.Login</h3>
                </div>
                <div class="modal-body">
                    <div id="myError">@ViewBag.Mensagem</div>
                    @if (ViewBag.Mensagem != null)
                    {
                        <div id="divErro" class="alert alert-danger">
                            <label id="erro">
                                <div>@ViewBag.Mensagem</div>
                            </label>
                        </div>
                    }
                    <div class="row">
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-12">
                                    <label>
                                        @Html.LabelFor(model => model.LoginOuEmail)
                                    </label>
                                    <div class="row form-group">
                                        @Html.TextBoxFor(model => model.LoginOuEmail, new { @class = "form-control" })
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <label>
                                        @Html.LabelFor(model => model.Senha)
                                    </label>
                                    <div class="row form-group">
                                        @Html.PasswordFor(model => model.Senha, new { @class = "form-control" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            @Ajax.IconActionLink("fa fa-google-plus",Textos.GoogleAccount, "ContaGoogle", "Login", new { controller = "Login" },new AjaxOptions(), new {@class="btn btn-block btn-social btn-google-plus"}  )
                        </div>
                    </div>
                    <div class="modal-footer">
                        @Ajax.ActionLink(Textos.EsqueceuSuaSenha, "RedefinirSenha", "Login", new { controller = "Login" }, new AjaxOptions() { UpdateTargetId = "myModalRemote", OnComplete = " $('#Modal2').modal('toggle')" })
                        <button type="button" class="btn btn-default" data-dismiss="modal">@Rotulos.Fechar</button>
                        <input type="submit" class="btn btn-primary" value="@Rotulos.Entrar"/>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
<div id="myModalRemote"></div>
<script>
    $('#Modal2').modal('show');

    function loadPage(result) {
        if (result.url) {
            // if the server returned a JSON object containing an url 
            // property we redirect the browser to that url
            window.location.href = result.url;
        }
    }

</script>
