@model Graxei.Aplicacao.Implementacao.MVC4Unity.Models.LojaEnderecoViewModel

<div class="modal fade" id="ModalNovoEndereco" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    @using (Ajax.BeginForm("Novo", "Enderecos", new AjaxOptions() { HttpMethod = "POST", OnSuccess = " $('#ModalNovoEndereco').modal('toggle')",UpdateTargetId = "main" }))
    {
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h3 id="myModalLabel">@Rotulos.NovoEndereco</h3>
                </div>
                <div class="modal-body">
                    @if (Model != null && Model.NomeLoja != null)
                    {
                        <h2>String.Format(Textos.EnderecosLoja, Model.NomeLoja)</h2>
                    }
                    <div>
                        @Html.Label(Rotulos.Estado)
                        @Html.DropDownListFor(m => m.IdEstado, (SelectList)ViewBag.Estados, new { id = "IdEstado" })
                    </div>
                    <div>
                        @Html.Label(Rotulos.Cidade)
                        @Html.TextBoxFor(m => m.Endereco.Bairro.Cidade.Nome, new { data_autocomplete_url = Url.Action("AutocompleteCidade") })
                    </div>
                    <div>
                        @Html.Label(Rotulos.Bairro)
                        @Html.TextBoxFor(m => m.Endereco.Bairro.Nome, new { data_autocomplete_url = Url.Action("AutocompleteBairro") })
                    </div>
                    <div>
                        @Html.LabelFor(m => m.Endereco.Logradouro)
                        @Html.TextBoxFor(m => m.Endereco.Logradouro)
                    </div>
                    <div>
                        @Html.LabelFor(m => m.Endereco.Numero)
                        @Html.TextBoxFor(m => m.Endereco.Numero)
                    </div>
                    <div>
                        @Html.LabelFor(m => m.Endereco.Complemento)
                        @Html.TextBoxFor(m => m.Endereco.Complemento)
                    </div>
                </div>
            
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">@Rotulos.Fechar</button>
                    <input type="submit" class="btn btn-primary" value="@Rotulos.Salvar"/>
                </div>
            </div>
        </div>
        <!-- /.modal-content -->
        <!-- /.modal-dialog -->
    }
</div>
<!-- /.modal -->
<script>
    $('#ModalNovoEndereco').modal('show') 
</script>

<script type="text/javascript">
    $(document).ready(function () {
        $("#IdEstado").change(function () {
            var estadoSel = $("#IdEstado").val();
            if (estadoSel != 0) {
                var url = '@Url.Action("EstadoSelecionado", "Enderecos")';
                $.post(url, { idEstado: estadoSel },
                    function (data) {
                    });
            }
        });
    });
</script>
<script src="@Url.Content("~/Scripts/autocomplete.js")" type="text/javascript"></script>

