<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta content='~/Content/imagens/favicon.ico' itemprop="image">
    <link rel="shortcut icon" href='~/Content/imagens/favicon.ico' type="image/x-icon">
    <link rel="icon" href='~/Content/imagens/favicon.ico' type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/bootstrap/base")
    @Styles.Render("~/css/themes/base/css")
    @Styles.Render("~/css/themes")
</head>
<body>
    @RenderBody()    
</body>
</html>
