@model Graxei.Modelo.Produto

@{
    ViewBag.Title = "Novo";
}

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <div class="row">
        <div class="editor-label">
            @Html.LabelFor(model => model.Descricao)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Descricao)
        </div>
    </div>
    <div class="row">
        <div class="editor-label">
            @Html.LabelFor(model => model.Fabricante.Nome)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Fabricante.Nome, new { data_autocomplete_url = Url.Action("Autocomplete") })
        </div>
    </div>
    <br />
    <footer class="pull-right">
        <a class="btn btn-default">"@Rotulos.CopiarProduto"</a>
        <input type="submit" class="btn btn-primary" value="@Rotulos.Criar" />
    </footer>
}
<script type="text/javascript">
    $(document).ready(function () {
        $('#Fabricante_Nome').autocomplete({
            source: '@Url.Action("AutoComplete")'
        });
    })
</script>

