@model Graxei.Transversais.ContratosDeDados.Listas.ListaProdutosLoja

<table class="table table-striped table-hover table-bordered">
    <thead>
        <tr>
            <th class="">#</th>
            <th class="col-md-2 col-lg-2">@Rotulos.Codigo</th>
            <th class="col-md-8 col-lg-8">@Rotulos.Descricao</th>
            <th class="col-md-2 col-lg-2">@Rotulos.Valor</th>
        </tr>
        <tr>
            <th colspan="5">
                @*@Ajax.LinkPaginacao("Produtos", "Pesquisar", Model.Atual, Model.Total, 5)*@
                @*LinkPaginacaoRangePagina("Pesquisar", "Produtos", "paginaSelecionada", (int)ViewBag.PesquisarModel.PaginaSelecionada, mIdx, 2, "myContentProd")*@
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (Graxei.Transversais.ContratosDeDados.Listas.ListaProdutosLojaContrato item in Model.Lista)
        {
            string idPreco = "valor" + item.Id;
            <tr id-prod="@item.Id">
                <td class="">
                    <input type="checkbox" doc-type="cp" checked="@item.IsMeuProduto()" />
                </td>
                <td class="col-md-2 col-md-2">@item.Codigo</td>
                <td class="col-md-8 col-md-8">@item.Descricao</td>
                <td class="col-md-2 col-md-2">
                    <div class="input-group">
                        <span class="input-group-addon">R$</span>
                        <input id="@idPreco" type="number" value="@item.Preco" data-preco-original="@item.Preco" class="form-control valor-produto" onkeypress='habilitarSalvar(this); return validate(event);' min="0" step="any" doc-type="ip" id-prod="@item.Id">
                    </div>
                </td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <th colspan="5">
                @Ajax.LinkPaginacao("Produtos", "Pesquisar", Model.Atual, Model.Total, 5)
            </th>
        </tr>
    </tfoot>
</table>

<script>
    $("input[doc-type=cp]").on("click", function () {
        var id = $(this).attr("id-prod");
        $("tr[id-prod=" + id + "]").toggleClass("success");
    });
    $("input[doc-type=ip]").on("focusout", function () {
        var id = $(this).attr("id-prod");
        if ($(this).val() != "") {
            $("tr[id-prod=" + id + "]").addClass("success");
            $("input[id-prod=" + id + "]").attr("checked", "checked");
        } else {
            $("tr[id-prod=" + id + "]").removeClass("success");
            $("input[id-prod=" + id + "]").removeAttr("checked");
        }
    });

    function habilitarSalvar(me) {
        if (me.val() != me.data("preco-original")) {
            $('#salvarPrecos').removeClass("invisible");
        }
    }
</script>
