@model Graxei.Transversais.ContratosDeDados.Listas.ListaProdutosLoja

@{
    if (Model.Lista != null && Model.Lista.Count() > 0)
    {
        <input type="hidden" id="enderecoAtual" value="@Model.Lista[0].IdEndereco" />
    }
}
<div id="msg-produtos-atualizar"></div>
@Html.HiddenFor(m => m.Total.Total, new { id = "total-elementos" })
@Html.HiddenFor(m => m.Atual.Atual, new { id = "elemento-atual" })
<input type="hidden" id="salvar-produtos-url" value="@Url.Action("Salvar", "Produtos")" />
<input type="hidden" id="pesquisar-produtos-url" value="@Url.Action("Pesquisar", "Produtos")" />
<table id=" tabela-precos" class="table table-striped table-hover table-bordered">
    <thead>
        <tr>
            <th class="">#</th>
            <th class="col-md-2 col-lg-2">@Rotulos.Codigo</th>
            <th class="col-md-8 col-lg-8">@Rotulos.Descricao</th>
            <th class="col-md-2 col-lg-2">@Rotulos.Valor</th>
        </tr>
        <tr>
            <th colspan="5">
                @*@Ajax.LinkPaginacao("Produtos", "Pesquisar", Model.Atual, Model.Total, 5)*@
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (Graxei.Transversais.ContratosDeDados.Listas.ListaProdutosLojaContrato item in Model.Lista)
        {
            string idPreco = "valor" + item.Id;
            string pertencente = item.IsMeuProduto ? "success" : string.Empty;
            <tr id-prod="@item.Id" meu-prod="@item.IdMeuProduto" class="@pertencente">
                <td>
                    <input type="checkbox" doc-type="cp" checked="@item.IsMeuProduto" />
                </td>
                <td class="col-md-2 col-md-2">@item.Codigo</td>
                <td class="col-md-8 col-md-8">
                    <div ondblclick="intercalarExibicao(this);">@item.Descricao</div>
                    <textarea class="form-control" style="display: none" rows="2"></textarea>
                    <button style="display: none">OK</button>
                    <button style="display: none" onclick="intercalarExibicao2(this);">Cancelar</button>
                </td>
                <td class="col-md-2 col-md-2">
                    <div class="input-group">
                        <span class="input-group-addon">R$</span>
                        <input id="@idPreco" name="precoProduto" type="number" value="@item.Preco" data-preco-original="@item.Preco" class="form-control valor-produto" onkeyup="habilitarBotaoSalvar();" onkeypress='return validate(event);' min="0" step="any" doc-type="ip" id-prod="@item.Id">
                    </div>
                </td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <th colspan="5">
                @*@Ajax.LinkPaginacao("Produtos", "Pesquisar", Model.Atual, Model.Total, 5)*@
                @Ajax.LinkPaginacaoPesquisaProdutos(Model.Atual, Model.Total, 5)
            </th>
        </tr>
    </tfoot>
</table>

@Scripts.Render("~/Administrativo/Produtos/Pesquisar/js")
<script src="~/Scripts/Administrativo/Produtos/pesquisar.js"></script>
<script>
    function intercalarExibicao(element) {
        var textArea = $(element).siblings("textarea");
        $(element).siblings("button").show();
        $(element).hide();

        textArea.show();
        if (textArea.text().trim().length == 0) {
            textArea.text($(element).html());
        }
    }

    function intercalarExibicao2(element) {
        var textArea = $(element).siblings("textarea");
        textArea.hide();
        $(element).siblings("button").hide();
        var currentDiv = $(element).siblings("div");
        currentDiv.show();
        $(element).hide();
        textArea.text(currentDiv.html());
    }
</script>