@{Layout = "";}
@model Graxei.Apresentacao.Models.NovoEnderecoModel
<html>
<head>
    <title>Angular</title>
    @Scripts.Render("~/bundles/jqueryvalajax")
    @Styles.Render("~/Content/bootstrap/base")
    @Styles.Render("~/css/themes")
</head>
<body>
    <div ng-app="endereco">
        <div ng-controller="EnderecoController as enderecoCtrl">
            {{enderecoCtrl.operacao.ok}}
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <div class="control-label col-md-2">
                                <label>@Rotulos.Cidade</label>
                            </div>
                            <div class="col-md-10">
                                <input type="text" class="form-control" ng-model="endereco.cidade" typeahead="nome as cidade.nome for cidade in enderecoCtrl.cidades" required>
                                @*<input type="text" class="form-control" ng-model="endereco.cidade" typeahead="cidade for cidade fsfsdfsdfsdfxzin enderecoCtrl.getCidades($viewValue) | limitTo:8" required>*@
                                <span ng-messages="enderecoForm.cidade.$error" ng-show="enderecoForm.cidade.$dirty || enderecoForm.$submitted">
                                    <span ng-message="required">@Validacoes.CidadeObrigatoria</span>
                                    <span ng-message="maxLength">@Validacoes.TamanhoMaximo250</span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>

    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/angular-messages.min.js"></script>
    <script src="~/Scripts/ui-bootstrap-tpls-0.13.1.min.js"></script>
    <script src="~/Scripts/Graxei/Administrativo/Enderecos/enderecoAngular.js"></script>
    @*<script src="~/Scripts/Graxei/Administrativo/Enderecos/enderecoLista.js"></script>*@
    
    <script type="text/javascript">
        

        function atualizarListaEnderecos() {
            debugger;
            $.ajax({
                url: '/Administrativo/Enderecos/ListaEnderecos?idLoja=@Model.IdLoja',
                type: 'GET',
                success: function (result) {
                    $('#fm-content').html(result);
                }
            });
        }
    </script>
</body>
</html>