@using Graxei.Apresentacao.Areas.Administrativo.Infraestutura
@using Graxei.Transversais.ContratosDeDados.Listas
@model ListaLojas
@{
    ViewBag.Title = "Listar";
}
<h4>Listar</h4>
<div class="row row-btn-margin">
    <div class="col-md-12">
        @Ajax.IconActionLink("glyphicon glyphicon-plus", Rotulos.NovaLoja, "Index", "Lojas", new { Controller = "Lojas" }, new AjaxOptions() { UpdateTargetId = "myContent", HttpMethod = "POST", OnBegin = "openL();", OnComplete = "closeL();" }, new { @class = "btn btn-default" })
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <table class=" table table-hover table-bordered ">
            <thead>
                <tr>
                    <th>
                        @Rotulos.Nome
                    </th>
                    <th>
                        @Rotulos.Acao
                    </th>
                </tr>
            </thead>
            <tbody>
                @{
                    foreach (Graxei.Transversais.ContratosDeDados.Listas.ListaLojasContrato listaLojasContrato in Model.Lista)
                    {
                        <tr>
                            <td class="col-md-6 col-lg-9">
                                @listaLojasContrato.Nome
                                <span class="label label-warning">@listaLojasContrato.NomePlano</span>
                            </td>
                            <td class="col-md-3 col-lg-3">
                                @Ajax.IconActionLink("glyphicon glyphicon-pencil", Rotulos.Editar, "Editar", "Lojas", new { Controller = "Lojas", idLoja = listaLojasContrato.Id }, new AjaxOptions() { UpdateTargetId = "myContent", HttpMethod = "GET", OnBegin = "openL();", OnComplete = "closeL();" }, new { @class = "btn btn-default btn-sm" })
                                @Ajax.IconActionLink("glyphicon glyphicon-cog", Rotulos.Upgrade, "Planos", "Lojas", new { Controller = "Lojas", idLoja = listaLojasContrato.Id }, new AjaxOptions() { UpdateTargetId = "myModal", HttpMethod = "POST", OnBegin = "openL();", OnComplete = "closeL();" }, new { @class = "btn btn-default btn-sm" })
                            </td>
                        </tr>
                    }
                }
            </tbody>
            <tfoot>
                <tr>
                    <th colspan="2">
                        @Ajax.LinkPaginacao("Lojas", "Listar", Model.Atual, Model.Total, 5, Info.NenhumaLoja)
                    </th>
                </tr>
            </tfoot>
        </table>
    </div>
</div>

