@model EnderecoModel

@{
    AjaxOptions ajax = new AjaxOptions { InsertionMode = InsertionMode.Replace, HttpMethod = "POST", OnSuccess = "SuccessEndereco" };
    using (Ajax.BeginForm("Salvar", "Enderecos", null, ajax, new { id = "form-enderecos", @class = "form-horizontal" }))
    {
    @Html.HiddenFor(m => m.IdLoja, new { id = "idlojaendereco" })
    @Html.HiddenFor(m => m.Id, new { id = "idHiddenEndereco" })
    <div id="validationEndereco"></div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <div class="control-label col-xs-2 col-md-2 col-lg-2">
                    @Html.LabelFor(m => m.IdEstado)
                </div>
                <div class="col-xs-2 col-md-2 col-lg-2">
                    @Html.DropDownListFor(m => m.IdEstado, (IEnumerable<SelectListItem>)ViewBag.Estados, new { id = "IdEstado", @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.IdEstado)
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <div class="control-label col-xs-2 col-md-2 col-lg-2">
                    @Html.LabelFor(m => m.Cidade)
                </div>
                <div class="col-xs-10 col-md-10 col-lg-10">
                    @Html.TextBoxFor(m => m.Cidade, new { @class = "form-control typeahead", id = "IdCidade" })
                    @Html.ValidationMessageFor(m => m.Cidade)
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <div class="control-label col-xs-2 col-md-2 col-lg-2">
                    @Html.LabelFor(m => m.Bairro)
                </div>
                <div class="col-xs-10 col-md-10 col-lg-10">
                    @Html.TextBoxFor(m => m.Bairro, new { @class = "form-control", id = "IdBairro" })
                    @Html.ValidationMessageFor(m => m.Bairro)
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <div class="control-label col-xs-2 col-md-2 col-lg-2">
                    @Html.LabelFor(m => m.Logradouro)
                </div>
                <div class="col-xs-10 col-md-10 col-lg-10">
                    @Html.TextBoxFor(m => m.Logradouro, new { @class = "form-control", id = "IdLogradouro" })
                    @Html.ValidationMessageFor(m => m.Logradouro)
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <div class="control-label col-xs-2 col-md-2 col-lg-2">
                    @Html.LabelFor(m => m.Numero)
                </div>
                <div class="col-xs-2 col-md-2 col-lg-2">
                    @Html.TextBoxFor(m => m.Numero, new { @class = "form-control", id = "IdNumero" })
                    @Html.ValidationMessageFor(m => m.Numero)
                </div>
                <div class=" control-label col-xs-2 col-md-2 col-lg-2">
                    @Html.LabelFor(m => m.Complemento)
                </div>
                <div class="col-xs-6 col-md-6 col-lg-6">
                    @Html.TextBoxFor(m => m.Complemento, new { @class = "form-control", id = "IdComplemento" })
                    @Html.ValidationMessageFor(m => m.Complemento)
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <div class="control-label col-xs-2 col-md-2 col-lg-2">
                    @Html.LabelFor(m => m.Telefones)
                </div>
                <div class="col-xs-5 col-md-5 col-lg-5">
                    @Html.TextBoxFor(m => m.Telefones, new { @class = "form-control", id = "IdTelefones" })
                    @Html.ValidationMessageFor(m => m.Telefones)
                </div>
                <div class="col-xs-5 col-md-5">
                    <div class="label label-info"><i class="glyphicon glyphicon-info-sign"></i>@Textos.SepareTelefonesVirgula</div>
                </div>
            </div>
        </div>
    </div>
    <div class="row rodape">
        <div class="col-md-12">
            <button type="submit" class="btn btn-primary">@Rotulos.Salvar</button>
            <button class="btn btn-danger" data-dismiss="modal">@Rotulos.Cancelar</button>
        </div>
    </div>
    }
    
}

