@model Graxei.Apresentacao.MVC4Unity.Areas.Administrativo.Models.LojaModel
<div class="row form-group">
    <div>
        @Html.ValidationMessageFor(m => m.LojaContrato.Nome)
    </div>
    <div>
        @Html.LabelFor(m => m.LojaContrato.Nome)
        @Html.TextBoxFor(m => m.LojaContrato.Nome)
    </div>
</div>
<div class="row form-group">
    @{
        AjaxOptions ajaxOptions = new AjaxOptions() { UpdateTargetId = "listaEnd" };
    }
    @Ajax.Bootstrap().ActionLinkButton(Rotulos.NovoEndereco, "Index", "Enderecos", ajaxOptions).Style(ButtonStyle.Default)
    @Html.Bootstrap().SubmitButton().Text(@Rotulos.Salvar).Style(ButtonStyle.Primary)
    <div>@Rotulos.Logotipo</div>
    <div>
        @if (Model.LojaContrato.Logotipo == null)
        {
            @Textos.NenhumLogo
        }
        else
        {
            <img width="150" height="150" src="@Url.Action("GetImagem", "Lojas", new { Model.LojaContrato.Id })" />
        }
        <div>@Rotulos.EscolherLogo<input type="file" name="Imagem" /></div>

    </div>
</div>
<p>@Rotulos.Enderecos</p>

@{Html.RenderPartial("AcoesEmLoja", Model);}