@using Graxei.Apresentacao.MVC4Unity.Areas.Administrativo.HtmlHelpers
@model LojaModel
@{
    @Html.HiddenFor(p => p.LojaContrato.Id, new { id = "idnovaloja" })
    <script src="@Scripts.Url("~/Scripts/fileinput.js")"></script>
    <div class="form-group has-error">
        <div class="col-lg-offset-1 col-lg-11">
            @Html.Erro()
        </div>
    </div>
    <div class="form-group has-success">
        <div class="col-lg-offset-1 col-lg-11">
            @Html.Sucesso()
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-12">
            <p class="text-left">@Html.LabelFor(m => m.LojaContrato.Nome, new { @class = "control-label col-xs-1 col-md-1 col-lg-1" })</p>
            @Html.TextBoxFor(m => m.LojaContrato.Nome, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.LojaContrato.Nome)
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-12">
            <p class="text-right">
                <button type="submit" id="t" class="btn btn-primary">@Rotulos.Salvar</button>
                @Ajax.ActionLink(Rotulos.Voltar, "Listar", "Lojas", new { Controller = "Lojas" }, new AjaxOptions() { UpdateTargetId = "myContent", HttpMethod = "GET", OnBegin = "openL();", OnComplete = "closeL();" }, new { @class = "btn btn-default" })
            </p>
        </div>
    </div>
}
