@using Graxei.Apresentacao.MVC4Unity.Areas.Administrativo.HtmlHelpers
@model LojaModel
@{
    @Html.HiddenFor(p => p.LojaContrato.Id, new { id = "idnovaloja" })
    <div class="form-group has-error">
        <div class="col-lg-offset-1 col-lg-6">
            @Html.Erro()
        </div>
    </div>
    <div class="form-group has-success">
        <div class="col-lg-offset-1 col-lg-6">
            @Html.Sucesso()
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.LojaContrato.Nome, new { @class = "control-label col-xs-1 col-md-1 col-lg-1" })
        <div class="col-xs-6 col-md-6 col-lg-6">
            @Html.TextBoxFor(m => m.LojaContrato.Nome, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.LojaContrato.Nome)
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-1 col-md-2 col-lg-offset-1 col-lg-2">
            <button type="submit" class="btn btn-primary">@Rotulos.Salvar</button>
        </div>
    </div>
}