@using Graxei.Transversais.ContratosDeDados
@model ListaLojas

@{
    ViewBag.Title = "Listar";
}
@section Styles{
    @Styles.Render("~/Content/bootstrap/base")
    @Styles.Render("~/Content/themes/base/css")
    @Styles.Render("~/Content/css")

    <h2>Listar</h2>
    <table class="table-hover">
        <thead>
            @{
                foreach (ListaLojasContrato listaLojasContrato in Model.Lista)
                {
                <tr>
                    <th class="col-md-6 col-lg-6">
                        @listaLojasContrato.Nome
                    </th>
                    <th class="col-md-3 col-lg-3">@Html.ActionLink(Rotulos.Editar, "Editar", "Loja", new { idLoja = listaLojasContrato.Id })
                    </th>
                </tr>
                }
            }
            @Html.LinkPaginacao(Model)
        </thead>
    </table>


@section Scripts{
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/modal")
    @Scripts.Render("~/bundles/typeahead")
}