@model LojaModel
@{
    ViewBag.Title = Rotulos.NovaLoja;
}
@section Styles{
    @Styles.Render("~/Content/bootstrap/base")
    @Styles.Render("~/Content/themes/base/css")
    @Styles.Render("~/Content/css")
}
@section Scripts{
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/modal")
    @Scripts.Render("~/bundles/typeahead")
    <script type="text/javascript">

        $("#IdEstado").change(function () {
            var estado = $("#IdEstado").val();
            ////alert('aaa');
            if (estado != 0) {
                var url = '@Url.Action("EstadoSelecionado", "Enderecos")';
                $.post(url, { idEstado: estado },
                    function () {
                    });
            }
        });

        $("#IdCidade").blur(function () {
            var estado = $("#IdEstado").val();
            var nomeCidade = $("#IdCidade").val();
            if (estado > 0 && nomeCidade.length > 0) {
                var url = '@Url.Action("CidadeSelecionada", "Enderecos")';
                $.post(url, { idEstado: estado, cidade: nomeCidade },
                    function () {
                    });
            }
        });

        $("#IdBairro").blur(function () {
            var idEstado = $("#IdEstado").val();
            var nomeCidade = $("#IdCidade").val();
            var nomeBairro = $("#IdBairro").val();
            if (idEstado > 0 && nomeCidade.length > 0 && nomeBairro.length > 0) {
                var url = '@Url.Action("BairroSelecionado", "Enderecos")';
                $.post(url, { estado: idEstado, cidade: nomeCidade, bairro: nomeBairro },
                    function () {
                    });
            }
        });

        $("#IdCidade").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: "@Url.Action("AutoCompleteCidade", "Enderecos")",
                    type: "POST",
                    dataType: "json",
                    data: { term: request.term },
                    success: function (data) {
                        response($.map(data, function (item) {
                            return { value: item };
                        }));
                    }
                });
            },
        });

        $("#IdBairro").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: "@Url.Action("AutoCompleteBairro", "Enderecos")",
                    type: "POST",
                    dataType: "json",
                    data: { term: request.term },
                    success: function (data) {
                        response($.map(data, function (item) {
                            return { value: item };
                        }));
                    }
                });
            },
        });

        $("#IdLogradouro").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: "@Url.Action("AutoCompleteLogradouro", "Enderecos")",
                    type: "POST",
                    dataType: "json",
                    data: { term: request.term },
                    success: function (data) {
                        response($.map(data, function (item) {
                            return { value: item };
                        }));
                    }
                });
            },
        });

        function SuccessEndereco(result) {
            if (result.Mensagem === undefined) {
                var divLista = document.getElementById("listaEnderecos");
                divLista.innerHTML = result;
                $("#modalEnderecos").modal('hide');
            } else {
                var divErro = document.getElementById("validationEndereco");
                divErro.innerHTML = "<span class='field-validation-error'><ul style='margin: 0;'>" + result.Mensagem + "</ul></span>";
            }
        }

        function setupModal() {
            document.getElementById("form-enderecos").reset();
            var idLoja = document.getElementById("idnovaloja").value;
            var idLojaEndereco = document.getElementById("idlojaendereco");
            idLojaEndereco.value = idLoja;
            var idCidade = document.getElementById("IdCidade");
            idCidade.value = null;
            var idBairro = document.getElementById("IdBairro");
            idBairro.value = null;
            var idLogradouro = document.getElementById("IdLogradouro");
            idLogradouro.value = null;
            var idNumero = document.getElementById("IdNumero");
            idNumero.value = null;
            var idComplemento = document.getElementById("IdComplemento");
            idComplemento.value = null;
            var idEndereco = document.getElementById("idHiddenEndereco");
            idEndereco.value = null;
        }

        function editarEndereco(id) {
            $.ajax({
                url: "@Url.Action("Get", "Enderecos")",
                type: "GET",
                data: { idEndereco: id },
                success: function (data) {
                    var divEnderecoAtualizar = document.getElementById("enderecoAtualizar");
                    divEnderecoAtualizar.innerHTML = data;
                    $('#modalEnderecos').modal('show');
                }
            });
        }
    </script>
}

<h2>@Rotulos.NovaLoja</h2>
@{
    Html.RenderPartial("NovaLojaAjax", Model);
    <div id="enderecoAtualizar">
        @{ Html.RenderAction("NovoEndereco", "Enderecos", Model.EnderecoModel); }
    </div>
}
<div id="listaEnderecos"></div>
