@using Graxei.Transversais.Utilidades.NHibernate
@model LojaModel
@section Styles{
    @Styles.Render("~/Content/bootstrap/base")
    @Styles.Render("~/Content/themes/base/css")
    @Styles.Render("~/Content/css")
}
<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
@{
    ViewBag.Title = Rotulos.NovaLoja;
}
<h2>@Rotulos.NovaLoja</h2>
@section Scripts{
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/modal")
    @Scripts.Render("~/bundles/typeahead")
    @Scripts.Render("~/bundles/modernizr")
    <script>
        $(function () {
            var availableTags = [
                "ActionScript",
                "AppleScript",
                "Asp",
                "BASIC",
                "C",
                "C++",
                "Clojure",
                "COBOL",
                "ColdFusion",
                "Erlang",
                "Fortran",
                "Groovy",
                "Haskell",
                "Java",
                "JavaScript",
                "Lisp",
                "Perl",
                "PHP",
                "Python",
                "Ruby",
                "Scala",
                "Scheme",
                "South",
                "Maria Filó",
                "Farm"
            ];
            $("#idAuto").autocomplete({
                source: availableTags
            });
        });
    </script>
    <script type="text/javascript">
        $("#IdEstado").change(function () {
            alert($('option:selected', $(this)).text());
        });
    </script>

}

<div id="nova-loja">
    @{ Html.RenderPartial("NovaLojaAjax", Model); }
</div>
