@using Graxei.Apresentacao.MVC4Unity.Areas.Administrativo.HtmlHelpers
@using Graxei.Apresentacao.MVC4Unity.Areas.Administrativo.Models
@model LojaModel
@section Styles{
    @Styles.Render("~/Content/bootstrap/base")
    @Styles.Render("~/Content/themes/base/css")
    @Styles.Render("~/Content/css")
}
@{
    ViewBag.Title = Rotulos.NovaLoja;
}
<h2>@Rotulos.NovaLoja</h2>
<div id="nova-loja">
    @{ Html.RenderPartial("Cadastro", Model);}
</div>
@*@{if (Model.HaEnderecos())
  {
      Html.RenderPartial("FormularioEndereco", Model.EnderecoContratoForm);
  }
}*@
@section Scripts{
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/modal")
    @Scripts.Render("~/bundles/typeahead")
    @Scripts.Render("~/bundles/modernizr")

}