@using Graxei.Transversais.Utilidades.NHibernate
@model LojaModel
@section Styles{
    @Styles.Render("~/Content/bootstrap/base")
    @Styles.Render("~/Content/themes/base/css")
    @Styles.Render("~/Content/css")
}
<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
@{
    ViewBag.Title = Rotulos.NovaLoja;
}
<h2>@Rotulos.NovaLoja</h2>
<div id="nova-loja">
    @{ Html.RenderPartial("NovaLojaAjax", Model); }
</div>

@section Scripts{

    <script>
        $("#novoEndereco").click(function () {
            @*$.ajax({
                type: "GET",
                url: "@Url.Action("Novo", "Enderecos")",
                success: function (data) {
                    alert(data);
                    $("#divDoEndereco").html(data);
                }
            });*@

            $.get("@Url.Action("Novo", "Enderecos")", function (data) {
                $("#divDoEndereco").html(data);
                $("form").removeData("validator");
                $("form").removeData("unobtrusiveValidation");
                $.validator.unobtrusive.parse("form");
            });
        });
    </script>

}

<script type="text/javascript">
    $(function () {
        var availableTags = [
        "ActionScript",
        "AppleScript",
        "Asp",
        "BASIC",
        "C",
        "C++",
        "Clojure",
        "COBOL",
        "ColdFusion",
        "Erlang",
        "Fortran",
        "Groovy",
        "Haskell",
        "Java",
        "JavaScript",
        "Lisp",
        "Perl",
        "PHP",
        "Python",
        "Ruby",
        "Scala",
        "Scheme"
        ];
        $("#idLogradouro").autocomplete({
            source: availableTags
        });
    });

</script>

