@model LojaModel
@section Styles{
    @Styles.Render("~/Content/bootstrap/base")
    @Styles.Render("~/Content/themes/base/css")
    @Styles.Render("~/Content/css")
}
@{
    ViewBag.Title = Rotulos.NovaLoja;
}
<h2>@Rotulos.NovaLoja</h2>
<div id="nova-loja">
    @{
        Html.RenderPartial("Cadastro", Model);
    }
</div>
@*@{
    Html.RenderAction("Novo", "Enderecos");
}*@

@*  @{if (Model.HaEnderecos())
      {
          Html.RenderPartial("ListaEnderecos", Model.ListEnderecosModel);
      }
    }
@{Html.RenderPartial("NovoEndereco", Model.EnderecoModel);}*@
@section Scripts{
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/modal")
    @Scripts.Render("~/bundles/typeahead")
    @Scripts.Render("~/bundles/modernizr")
    <script>
        $("#novoEndereco").click(function () {
            @*$.ajax({
                type: "GET",
                url: "@Url.Action("Novo", "Enderecos")",
                success: function (data) {
                    alert(data);
                    $("#divDoEndereco").html(data);
                }
            });*@

            $.get("@Url.Action("Novo", "Enderecos")", function (data) {
                $("#divDoEndereco").html(data);
                $("form").removeData("validator");
                $("form").removeData("unobtrusiveValidation");
                $.validator.unobtrusive.parse("form");
            });
        });
    </script>

}


