@using Graxei.Apresentacao.MVC4Unity.Areas.Administrativo.Models
@model Graxei.Apresentacao.MVC4Unity.Areas.Administrativo.Models.LojaModel
@section Styles{
    @Styles.Render("~/Content/bootstrap/base")
    @Styles.Render("~/Content/themes/base/css")
    @Styles.Render("~/Content/css")
}
@{
    ViewBag.Title = Rotulos.NovaLoja;
}
@{AjaxOptions ajax = new AjaxOptions() { InsertionMode = InsertionMode.Replace, UpdateTargetId = "main", HttpMethod = "POST" };}
<h2>@Rotulos.NovaLoja</h2>

@using (Ajax.BeginForm("Novo", "Lojas", ajax))
{
    Html.RenderPartial("Cadastro", Model);
}
@if (Model.HaEnderecos())
{
    Html.RenderPartial("FormularioEndereco", Model.EnderecoContratoForm);
}

@section Scripts{
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/modal")
    @Scripts.Render("~/bundles/typeahead")
    @Scripts.Render("~/bundles/modernizr")

}
