@using Graxei.Aplicacao.Implementacao.MVC4Unity.Areas.Administrativo.Models
@model Graxei.Aplicacao.Implementacao.MVC4Unity.Areas.Administrativo.Models.NovaLojaModel

@{
    ViewBag.Title = Rotulos.NovaLoja;
}

<h2>@Rotulos.NovaLoja</h2>
@using (Html.BeginForm("Novo", ""))
{
    @Html.ValidationSummary(true)
    <fieldset>
        <legend></legend>
        <div class="form-group">
            @Html.Bootstrap().LabelFor(model => model.Loja.Nome).Width(InputWidth.Col_2)
            @Html.Bootstrap().TextBoxFor(model => model.Loja.Nome).Width(InputWidth.Col_4)
        </div>
    </fieldset>
    @Ajax.Bootstrap().ActionLinkButton(Rotulos.NovoEndereco, "NovoEndereco", "Lojas", new AjaxOptions() { UpdateTargetId = "myModal" }).Style(ButtonStyle.Default)
    @Html.Bootstrap().SubmitButton().Text(@Rotulos.Salvar).Style(ButtonStyle.Primary)
}
<p>@Rotulos.Enderecos</p>

@if (!Model.NovosEnderecosModel.Enderecos.Any())
{
    Html.Bootstrap().Label(Textos.EnderecosVazio);
}
else
{
    foreach (EnderecoIndiceModel line in Model.NovosEnderecosModel.Enderecos)
    {
        Html.RenderPartial("AcoesEmNovaLoja", line);
    }
}


