@using Graxei.Aplicacao.Implementacao.MVC4Unity.Areas.Administrativo.Models
@model Graxei.Aplicacao.Implementacao.MVC4Unity.Areas.Administrativo.Models.LojaNovosEnderecosModel

@{
    ViewBag.Title = Rotulos.NovaLoja;
}

<h2>@Rotulos.NovaLoja</h2>
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <fieldset>
        <legend></legend>
        <div class="editor-label">
            @Html.LabelFor(model => model.Loja.Nome)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Loja.Nome)
        </div>
    </fieldset>
}
    <p>@Rotulos.Enderecos</p>
    
    @if (!Model.NovosEnderecoModel.Any())
    {
        Html.Bootstrap().Label(Textos.EnderecosVazio);
    }
    else
    {
        foreach (ItemListaNovosEnderecosModel line in Model.NovosEnderecoModel)
        {
            Html.RenderPartial("ExcluirEmNovaLoja", line);
        }
    }
 
    
    @Ajax.Bootstrap().ActionLinkButton(Rotulos.NovoEndereco, "Index", "Enderecos", new AjaxOptions() { UpdateTargetId = "myModal" }).Style(ButtonStyle.Default)
    @Html.Bootstrap().SubmitButton().Text(@Rotulos.Salvar).Style(ButtonStyle.Primary)
