@using Graxei.Aplicacao.Implementacao.MVC4Unity.Areas.Administrativo.Models
@model ItemListaNovosEnderecosModel

<tr>
    <td class="col-md-3">@Model.Endereco.Bairro.Cidade.Nome</td>
    <td  class="col-md-2">@Model.Endereco.Bairro.Cidade.Estado.Sigla</td>
    <td class="col-md-3">@Model.Endereco.Bairro.Nome</td>
    <td class="col-md-2">@Model.Endereco.Numero</td>
    <td  class="col-md-2">
        <div class="form-group col-md-2">
            <a class="btn btn-default " data-toggle="dropdown" href="#">
                <i class=""></i>Ação
        <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                <li class="">@Ajax.Bootstrap().ActionLink("Editar", "Editar", "Enderecos", new AjaxOptions() { UpdateTargetId = "main" }).RouteValues(new { id = Model.Id }).IconPrepend(Icons.edit)</li>
                <li class="btn-warning">@Ajax.Bootstrap().ActionLink("Excluir", "Excluir", "Enderecos", new AjaxOptions() { UpdateTargetId = "main" }).RouteValues(new { id = Model.Id }).IconPrepend(Icons.remove)</li>
            </ul>
        </div>
    </td>
</tr>

