@{
    ViewBag.Title = "Graxei";
}
@Scripts.Render("~/bundles/jquery")
<div class="navbar-wrapper">
    <div class="container">
        <div class="navbar navbar-inverse navbar-fixed-top " role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Ajax.ActionLink(" raxei", "Dashboard", "Home", new { controller = "Home" }, new AjaxOptions() { UpdateTargetId = "myContent", OnBegin = "openL();", OnComplete = "closeL();" }, new { @class = "navbar-brand logo" })
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li>@Ajax.ActionLink("Contato", "Contato", "Home", new { controller = "Home", Area = "" }, new AjaxOptions() { UpdateTargetId = "myContent", OnBegin = "openL();", OnComplete = "closeL();" }, new { })</li>
                        <li>
                            @if (User.Identity.IsAuthenticated)
                            {
                                <form class="navbar-form navbar-left">
                                    <div class="btn-group btn-max">
                                        <button type="button" class="btn btn-warning dropdown-toggle btn-max" data-toggle="dropdown">
                                            @User.Identity.Name
                                            <span class="caret"></span>
                                            <span class="sr-only"></span>
                                        </button>
                                        <ul class="dropdown-menu" role="menu">
                                            <li class="menu-a-login">@Html.ActionLink("Graxei", "Index", "Home", new { controller = "Home", area = "" }, new AjaxOptions())
                                            </li>
                                            <li class="divider"></li>
                                            <li class="menu-a-login">@Html.ActionLink("log off", "Sair", "Login", new { controller = "Login", area = "" }, new AjaxOptions())</li>
                                        </ul>
                                    </div>
                                </form> 
                            }
                        </li>

                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
@if (User.Identity.IsAuthenticated)
{
    <div id="openMenu" class="menu-button-open" estaaberto="false">
        <i class="glyphicon glyphicon-th-large"></i>
    </div>
    <div id="menuAdmin" class="menu-body">
        <ul>
            <li>@Ajax.IconActionLink("glyphicon glyphicon-tower", "Lojas", "Listar", "Lojas", new { controller = "Lojas", numeroPagina = 0, tamanho = 5 }, new AjaxOptions() { UpdateTargetId = "myContent", OnBegin = "openL();", OnComplete = "closeL();" }, new { @class = "" })</li>
            <li>@Ajax.IconActionLink("glyphicon glyphicon-tower", "Produtos", "ListarLojas", "Produtos", new { controller = "Produtos" }, new AjaxOptions() { UpdateTargetId = "myContent", OnBegin = "openL();", OnComplete = "closeL();" }, new { @class = "" })</li>
        </ul>
    </div>
}
<div class="container marketing container-body" id="myContent">
    @{Html.RenderAction("Dashboard");}
</div>
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h4>Preços</h4>
                <ul>
                    <li>@Ajax.ActionLink("Planos", "Planos", "Home", new { controller = "Home" }, new AjaxOptions() { UpdateTargetId = "myContent" }, new { })</li>
                </ul>
            </div>
            <div class="col-md-4">
                <h4>Suporte</h4>
                <ul>
                    <li>@Ajax.ActionLink("Contato", "Contato", "Home", new { controller = "Home" }, new AjaxOptions() { UpdateTargetId = "myContent" }, new { })</li>
                </ul>
            </div>
            <div class="col-md-4">
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p>&copy; 2014 Graxei. &middot; <a href="#">Privacidade</a> &middot; <a href="#">Termos</a></p>
            </div>
        </div>
    </div>
</footer>
<div id="myModal"></div>
<div id="msg-display"></div>
@Scripts.Render("~/bundles/sc")
@Scripts.Render("~/bundles/jqueryval")
@Scripts.Render("~/bundles/bootstrap")
@Scripts.Render("~/bundles/modal")
@Scripts.Render("~/bundles/modal")
@Scripts.Render("~/bundles/typeahead")
<script>
    $(document).ready(function () {
        $("#openMenu").on("click", function () {
            $("#menuAdmin").toggle();

            if ($("#openMenu").attr("estaAberto") === "true") {
                $("#openMenu").css("left", "0em");
            } else {
                $("#openMenu").css("left", "15em");
            }

            $("#openMenu").attr("estaAberto", $("#openMenu").attr("estaAberto") === "false")
        });
    });
</script>
